#map {
    width: 100%;
    height: 440px;
    border-radius: .3em;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

#alert {
    opacity: 1;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}

.hideAlert {
    opacity: 0 !important;
}

#img-modal {
    min-width: 1280px;
}

#flag {
    width: 64px;
}

.rounded-corners {
    border-radius: .3em;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.carousel-image {
    height: 400px;
    object-fit: cover;
}

@media (max-width: 992px) {
    .submit-button {
        margin-top: 1.5em;
    }
}